*#
*.tmp
*.log
demo/*.tmp
demo/*.log
*.mex*
*.html
*.png
*.zip
/exe/*
/html/helpsearch/*
/html/*.txt
/html/*.yaml
Python/dolo/*
demos/*model.m
!demos/sto4model.m
!demos/sto5model.m
!demos/sto6model.m
